.monaco-editor .monaco-editor-background,
.margin-view-overlays {
  background-color: var(--sdk-color-border-primary)50 !important;
}

.monaco-editor-container {
  border: none !important;
  outline: none !important;
}

.monaco-editor,
.monaco-editor:focus,
.monaco-editor:focus-within {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.monaco-editor .find-widget {
  top: 0px !important;
  right: 0px !important;
  left: unset !important;

  background: var(--sdk-bg-background) !important;
}

.view-lines {
  border: none !important;
}
