.red {
    background: red !important;
}

.wrapper {
    min-width: 100% !important;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--sdk-color-dialog-dark) !important;
    padding: 8px;
    border: 1px solid var(--sdk-color-border-primary);
    border-radius: 8px;
}