@import "tailwindcss/theme.css" layer(theme) prefix(sdk);

.sdk\:workflow-aevatar-item-name {
  @apply sdk:text-[12px] sdk:font-normal;
}
.sdk\:workflow-aevatar-item-id {
  @apply sdk:text-[12px] sdk:font-normal sdk:text-[var(--sdk-gray-color)];
}
.sdk\:workflow-new-aevatar-item {
  @apply sdk:text-[12px];
}
.sdk\:workflow-new-aevatar-item-disabled {
  @apply sdk:text-[var(--sdk-muted-foreground)];
}
.sdk\:workflow-reactflow-background {
  @apply sdk:text-[12px] sdk:text-[var(--sdk-workflow-background)];
}
.sdk\:no-touch-callout {
  -webkit-touch-callout: none;
}
.sdk\:no-user-select {
  user-select: none;
  -webkit-user-select: none;
}

.sidebar-item-bg-img .hypotenuse-fill {
  fill: var(--sdk-bg-muted);
}
