.cutCorner {
  position: relative;
  border: 1px solid var(--sdk-color-black-light);
  display: inline-block;
}

.cutCorner:before {
  position: absolute;
  right: -1px;
  bottom: -1px;
  content: "";
  border-bottom: 2rem solid var(--sdk-color-black-light);
  border-left: 2rem solid transparent;
}

.cutCorner.cutCorner__white {
  border: 1px solid var(--sdk-muted-foreground);
}

.cutCorner.cutCorner__white:before {
  border-bottom: 2rem solid var(--sdk-muted-foreground);
}

* {
  scrollbar-color: var(--sdk-color-black-light) transparent;
  scrollbar-width: thin;
}

.portkey-ui-wrapper {
  min-width: unset !important;
}
