.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid var(--sdk-color-border-primary);
  padding: 15px 10px;
  font-size: 12px;
  background: var(--sdk-color-bg-secondary);
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid var(--sdk-color-border-primary);
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: var(--sdk-color-input-node);
}

.dndflow .dndnode.output {
  border-color: var(--sdk-color-output-node);
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}
.dark.react-flow {
  background: transparent;
  color: var(--sdk-color-text-primary);
}

.react-flow__panel.react-flow__attribution.bottom.right {
  display: none;
}

.react-flow__panel.react-flow__minimap.bottom.right {
  border: 1px solid var(--sdk-color-border-primary);
  border-radius: 6px;
  overflow: hidden;
}

.react-flow__panel.react-flow__controls {
  border: 1px solid var(--sdk-color-border-primary);
}

.react-flow__panel.react-flow__controls .react-flow__controls-button {
  background: var(--sdk-workflow-menu-bg);
}
.react-flow__controls-button {
  border-color: var(--sdk-color-border-primary);
  color: var(--sdk-color-text-primary);
}
.react-flow__controls-button:hover {
  color: var(--sdk-color-text-primary);
}
.aevatar-sideDialogOpen-workflow-inner .react-flow__panel.right.react-flow__minimap {
  margin-right: 400px;
}
/* .react-flow__edge.selectable:hover .react-flow__edge-path, */
.react-flow__edge.selectable.selected .react-flow__edge-path {
  stroke: var(--sdk-color-success) !important;
}

.react-flow__edge.inactive .aevatar-edge-delete-btn {
  display: none;
}

/* .react-flow__edge.selectable:hover .react-flow__edge-path, */
.react-flow__edge.selectable.selected .react-flow__edge-path {
  stroke: var(--sdk-color-success) !important;
  /* marker-end: url('#1__color=var(--sdk-success-color)&type=arrowclosed') !important; */
}

.react-flow__edge.selectable .aevatar-edge-delete-btn {
  display: none;
}

.react-flow__edge.selectable:hover .aevatar-edge-delete-btn,
.react-flow__edge.selectable.selected .aevatar-edge-delete-btn {
  display: block !important;
}
