.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}
.dark.react-flow {
  background: transparent;
  color: white;
}

.react-flow__panel.react-flow__attribution.bottom.right {
  display: none;
}

.react-flow__panel.react-flow__minimap.bottom.right {
  border: 1px solid #303030;
  border-radius: 6px;
  overflow: hidden;
}

.react-flow__panel.react-flow__controls {
  border: 1px solid #303030;
}

.react-flow__panel.react-flow__controls .react-flow__controls-button {
  background: #141415;
}

.editAgentOpen-workflow-inner .react-flow__panel.right.react-flow__minimap {
  margin-right: 400px;
}
.react-flow__edge.selectable:hover .react-flow__edge-path,
.react-flow__edge.selectable.selected .react-flow__edge-path {
  stroke: #53ff8a !important;
}

.react-flow__edge.selectable:hover .react-flow__edge-path,
.react-flow__edge.selectable.selected .react-flow__edge-path {
  stroke: #53ff8a !important;
  /* marker-end: url('#1__color=#53FF8A&type=arrowclosed') !important; */
}
