.select-item-wrapper {
  position: relative;
  padding-left: 16px;
  &[data-state="checked"],
  &:hover {
    background-color: var(--sdk-bg-accent);
    color: var(--sdk-primary-foreground-text);
    &::before {
      content: "";
      width: 8px;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background-color: var(--sdk-bg-primary);
    }
  }
}
